@charset "utf-8";

body {
  background-color: #f3f3f3;
}

.menu1 {
  background-color: #fff;
}

.menu2 {
  background-color: lightcoral;
}

.menu3 {
  background-color: dodgerblue;
}

.page-footer {
  text-align: center;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
