<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX EXAMPLE</title>
    <script src="./js/htmx.min.js"></script>
    <link rel="stylesheet" href="./css/common.css">
</head>

<body>
    <header hx-get="./layouts/header.html" hx-trigger="load" class="page-header">

    </header>
    <main>
        <h2>Index page</h2>
        <div class="sub-contents"></div>
    </main>

    <footer hx-get="./layouts/footer.html" hx-trigger="load" class="page-footer"></footer>

</body>

</html>